/*** === CORE SKELETON === ***/
.pb-calendar {
	position: relative;
}
.pb-calendar.normal .entry {
	z-index: 10;
	color: #FFFFFF;
	cursor: pointer;
	padding: 2px 4px;
	position: absolute;
	transition: 0.15s all;
	border: 1px solid #424242;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.pb-calendar .entry:hover {
	opacity: 0.95;
}
.pb-calendar.table {
	position: relative;
}
.pb-calendar table {
	width: 100%;
}
.pb-calendar table th {
	height: 20px;
	text-align: center;
}
.pb-calendar .pb-nav {
}
.pb-calendar .pb-nav.prev {
}
.pb-calendar .pb-nav.next {
}
.pb-calendar table .day-name-row {
}
.pb-calendar table .day-title {
	text-transform: uppercase;
}
.pb-calendar table td.pb-time {
	width: 80px;
}
.pb-calendar table td {
	height: auto;
	padding: 0 10px;
	position: relative;
	transition: 0.15s background;
	border: 1px solid #DEDEDE;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
}
.pb-calendar td.selected {
	background-color: #EAEDFF;
}
.pb-calendar table td span {
	display: block;
	color: #FFFFFF;
	padding: 10px 0;
	text-align: center;
}
/*** === /CORE SKELETON === ***/


/*** === MODIFIERS === ***/
.pb-calendar table td.pb-past span:not(.entry) {
}
.pb-calendar table td.pb-prev-month span:not(.entry),
.pb-calendar table td.pb-next-month span:not(.entry) {
	opacity: 0.55;
	color: #424242;
	background-color: #D4D2D2;
}
/*** === /MODIFIERS === ***/

/*** === MONTH === ***/
.pb-calendar.month table td {
    width: 244px;
	height: 120px;
	position: relative;
    vertical-align: top;
}
a.pb-read-more {
	left: 50%;
    bottom: 0;
    width: 66px;
    font-size: 13px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    text-overflow: clip;
    transform: translateX(-50%);
}
.pb-read-more-container {
	top: 100%;
	z-index: 100;
	padding: 14px;
	display: none;
	border-radius: 4px;
	position: absolute;
	border: 1px solid #DEDEDE;
	background-color: #FFFFFF;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.pb-read-more-container .entry {
	position: relative !important;
}
.week .pb-resizer {
	left: 50%;
	margin: 0;
	bottom: 0;
	width: 90%;
	float: none;
	height: 12px;
	display: block;
	cursor: s-resize;
	background-color: aliceblue;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	transform: translate(-50%, -30%);
}
.month .pb-resizer {
	margin: -2px -4px;
	width: 16px;
	height: 22px;
	float: right;
	display: block;
	cursor: e-resize;
	background-color: aliceblue;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*** === /MONTH === ***/


@media screen and (max-width: 1200px) {

	.pb-calendar.container {
		width: 100%;
	}

}
