.vuex-calendar {
  position: relative;
  font-family: 'Quicksand', sans-serif;
}
.vuex-calendar .entry {
  z-index: 9;
  color: #FFFFFF;
  padding: 0 4px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 3px;
  position: absolute;
  white-space: nowrap;
  transition: 0.15s all;
  box-sizing: border-box;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.vuex-calendar .entry:hover {
  opacity: 0.95;
}
.vuex-calendar.table {
  position: relative;
}
.vuex-calendar table {
  width: 100%;
  border-collapse: collapse;
}
.vuex-calendar table th {
  height: 20px;
  text-align: center;
}
.vuex-calendar .vxc-nav {
  width: 30px;
  height: 40px;
  line-height: 1;
  font-size: 23px;
  align-items: center;
  display: inline-flex;
  text-decoration: none;
  justify-content: center;

  &.prev {
  }
  &.next {
  }

}

.vuex-calendar {

  .vxc-title {
    height: 40px;
    width: 130px;
    line-height: 1;
    font-size: 16px;
    vertical-align: top;
    align-items: center;
    display: inline-flex;
    justify-content: center;
  }

  .entry-popup-toggle {
    z-index: 10;
    width: 30px; 
    height: 30px; 
    color: #22A6B5;
    padding: 5px 0;
    text-align: center;
    position: absolute;
    border-radius: 50%;
    bottom: 0; right: 0;
    background-color: #FFFFFF; 
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.25);
  }

  .entry-popup {
    z-index: 10;
    width: 100%;
    height: auto;
    top: 0; left: 0;
    max-height: 240px;
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #F3F3F3;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);

    .entry-popup-close {
      position: absolute;
      top: 0; right: 5px;
    }

    .entry {
      margin: 4px auto;
      width: 95% !important;
      position: static !important;
    }

  }

  &.week .vxc-title {
    width: 195px;
  }

  table td {

    .day-number {
      margin: 0;
      color: #636363;
      font-weight: 600;
      padding: 5px 8px;
      text-align: right;
    }

    /*** ===  MODIFIERS === ***/
    &.vxc-past span:not(.entry) {
    }
    &.vxc-prev-month span:not(.entry),
    &.vxc-next-month span:not(.entry) {
      opacity: 0.55;
      color: #424242;
      background-color: #D4D2D2;
    }
    &.today {
      background-color: #FFF2DC;
    }
    &.prev-month,
    &.next-month {
      background-color: #F3F3F3;
    }
    &.selected {
      background-color: #B2F5FF;
    }
    /*** === /MODIFIERS === ***/

  }

  /*** === WEEK === ***/

  /*** === /WEEK === ***/

}
.vuex-calendar table .day-name-row {
}
.vuex-calendar table .day-title {
  text-transform: uppercase;
  background-color: #F3F3F3;
  border: 1px solid #EAEAEA;
}
.vuex-calendar table td.vxc-time {
  width: 80px;
}
.vuex-calendar table td {
  height: auto;
  padding: 0 0 0 10px;
  position: relative;
  transition: 0.15s background;
  border: 1px solid #DEDEDE;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
.vuex-calendar table td span {
  display: block;
  color: #FFFFFF;
  padding: 10px 0;
  text-align: center;
}
/*** === /CORE SKELETON === ***/


/*** === MONTH === ***/
.vuex-calendar.month table td {
  width: 244px;
  height: 120px;
  position: relative;
  vertical-align: top;
}
a.vxc-read-more {
  left: 50%;
  bottom: 0;
  width: 66px;
  font-size: 13px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  text-overflow: clip;
  transform: translateX(-50%);
}
.vxc-read-more-container {
  top: 100%;
  z-index: 100;
  padding: 14px;
  display: none;
  border-radius: 4px;
  position: absolute;
  border: 1px solid #DEDEDE;
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.vxc-read-more-container .entry {
  position: relative !important;
}
.week .vxc-resizer {
  left: 50%;
  margin: 0;
  bottom: 0;
  width: 90%;
  z-index: 10;
  float: none;
  height: 12px;
  display: block;
  cursor: s-resize;
  position: absolute;
  background-color: transparent;
  transform: translate(-50%, -30%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.month .vxc-resizer {
  z-index: 10;
  width: 16px;
  height: 22px;
  float: right;
  display: block;
  cursor: e-resize;
  margin: -2px -4px;
  background-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*** === /MONTH === ***/

/*** ===  WEEK === ***/
.vuex-calendar.week {

  table tr td  {
    padding: 0;
    height: 40px;
  
    &:first-child {
      width: 50px;
      text-align: center;
    }

    .entry {
      top: 5px;
      border-radius: 3px;
    }

  }

}
/*** === /WEEK === ***/

/*** ===  WEEK === ***/
.vuex-calendar.day {

  table tr td  {
    padding: 0;
    height: 40px;
  
    &:first-child {
      width: 50px;
      text-align: center;
    }

    .entry {
      top: 5px;
      border-radius: 5px;
    }

  }

}
/*** === /WEEK === ***/


@media screen and (max-width: 1200px) {

  .vuex-calendar.container {
    width: 100%;
  }

}